<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.stu.view.scpview"
    android:versionCode="1"
    android:versionName="@string/app_version" >
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"/>
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-sdk
        android:minSdkVersion="10" />
    <application
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_mobile_name" >
        <activity
            android:name="SCPViewActivity"
            android:theme="@style/Theme.Sherlock.Fullscreen"
            android:label="@string/app_mobile_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
       			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:mimeType="*/*" 
					android:pathPattern=".*\\.scp" 
					android:scheme="file" 
					android:host="*" />
				<data android:mimeType="*/*" 
					android:pathPattern=".*\\.jpg" 
					android:scheme="file" 
					android:host="*" />
				<data android:mimeType="*/*" 
					android:pathPattern=".*\\.gif" 
					android:scheme="file" 
					android:host="*" />
				<data android:mimeType="*/*" 
					android:pathPattern=".*\\.png" 
					android:scheme="file" 
					android:host="*" />
				<data android:mimeType="*/*" 
					android:pathPattern=".*\\.bmp" 
					android:scheme="file" 
					android:host="*" />
			</intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="PatientInfo" 
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.Fullscreen"
			android:configChanges="orientation">  
        </activity>
        <activity android:name="OtherInfo" 
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Sherlock.Fullscreen"
			android:configChanges="orientation">
        </activity>
        <activity android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity" >
        </activity>

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" >
        </service>
        <activity android:name="Settings"
            android:theme="@style/Theme.Sherlock.Fullscreen">
        </activity>
        <activity android:name="com.dm.zbar.android.scanner.ZBarDecoderActivity"></activity>
        
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.google.zxing.client.android.decode.ZXingDecoderActivity"></activity>
    </application>
</manifest>