<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.stu.scpview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ua.stu.view.scpview.SCPViewActivity"
            android:label="@string/title_activity_scpview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" >
                </category>

                <action android:name="android.intent.action.VIEW" >
                </action>

                <data
                    android:host="*"
                    android:pathPattern=".*\\.scp"
                    android:scheme="file" >
                </data>                
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:pathPattern="*.scp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.scp"
                    android:scheme="http" />
                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.scp"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="group.pals.android.lib.ui.filechooser.FileChooserActivity" >
        </activity>

        <service android:name="group.pals.android.lib.ui.filechooser.services.LocalFileProvider" >
        </service>
    </application>

</manifest>